<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}My Grading System{% endblock %}
  </title>
</head>

<body>

  <div class="container">
    <h1 class="my-4">
      <a href="{% url 'student_list' %}">
        My School Grading System
      </a>
    </h1>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  {% block extra_js %}{% endblock %}
</body>

</html>